.category-flex {
    display: flex;
}



.btns {
    padding: 10px 20px;
    margin-right: 6px;
    background: rgb(5, 236, 159);
    border: 0.6px solid #ccc;
    border-radius: 5px;
    color: #323232;
    cursor: pointer;
}